@model IEnumerable<KalydonClientDatabase.Models.Meeting>

@{
    ViewData["Title"] = "Index";
}

<h1>Meetings Index</h1>

<p>
    <a asp-action="Create">Create New</a> |
    <a asp-action="MeetingsToday">Meetings Today</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingSchedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingAttended)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingSchedule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingAttended)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
